name: Using Javascript Action

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    name: A job to say hello
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install Dependencies
        run: npm install @actions/core @actions/github

      - name: Hello world action step
        id: hello
        uses: ./.github/actions/js-greeting
        with:
          who-to-greet: Fabio

      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
